@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
@import url("reset.css");
@import "global";
@import url("fontawesome.min.css");
@import url("jquery-ui.css");
@import "index";

/* font family */
.font-family (@font-size: 14px) {
    font-family: 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', '黑體', sans-serif, serif;
    color: var(--color-regular); font-size: @font-size; font-weight: 400; letter-spacing: 0.5px; -webkit-text-size-adjust: none; 
}
.orange-text { color: var(--color-orange) !important; }
.red-text { color: var(--color-red) !important; }
.gray-text { color: var(--color-dark) !important; }

/* border-radius */
.rounded-corners (@radius: 3px) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}

/* padding box */
.padding-box() { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

/* img url */
@img-path: "../images/";

/* default */
body { .font-family(14px); background: var(--color-bggray); overflow-x: hidden !important; }
.body-container { position: relative; width: 100%; max-width: 820px; min-height: 100vh; margin: 0 auto; overflow: hidden; background: var(--color-white); box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05); }
.body-container.bg-gray { background: var(--color-bggray); }
a, button, select { cursor: pointer; }
a:hover { color: var(--color-black); }
select, input, textarea, button { .font-family(16px) }
input:-webkit-autofill { box-shadow: 0 0 0px 1000px var(--color-white) inset !important; }
img { max-width: 100%; height: auto; }

/* icon */
i.icon-purchase, i.icon-report, i.icon-quickclick, i.icon-quickpay, i.icon-quickpoint {
    display: inline-block; width: 30px; height: 30px;
    background-repeat: no-repeat; background-position: center; background-size: contain; 
}
i.icon-purchase { background-image: url('@{img-path}purchase.svg'); }
i.icon-report { background-image: url('@{img-path}report.svg'); }
i.icon-quickclick { background-image: url('@{img-path}quickclick.svg'); }
i.icon-quickpay { background-image: url('@{img-path}quickpay.svg'); }
i.icon-quickpoint { background-image: url('@{img-path}quickpoint.svg'); }

i.icon-point, i.icon-coupon { 
    display: inline-block; width: 20px; height: 20px;
    background-repeat: no-repeat; background-position: center; background-size: contain;
}
i.icon-point { background-image: url('@{img-path}point.svg'); }
i.icon-coupon { background-image: url('@{img-path}coupon.svg'); }

i.icon-creditcard, i.icon-linepay, i.icon-applepay, i.icon-googlepay, i.icon-cash, i.icon-easywallet, i.icon-jkopay, i.icon-taiwanpay { 
    display: inline-block; width: 40px; height: 40px;
    background-repeat: no-repeat; background-position: center; background-size: contain; 
}
i.icon-creditcard { background-image: url('@{img-path}creditcard.svg'); background-size: 80%; }
i.icon-linepay { background-image: url('@{img-path}linepay.svg'); background-size: 80%; }
i.icon-applepay { background-image: url('@{img-path}applepay.svg'); }
i.icon-googlepay { background-image: url('@{img-path}googlepay.svg'); }
i.icon-cash { background-image: url('@{img-path}cash.svg'); background-size: 80%; }
i.icon-easywallet { background-image: url('@{img-path}easywallet.svg'); }
i.icon-jkopay { background-image: url('@{img-path}jkopay.svg'); background-size: 80%; }
i.icon-taiwanpay { background-image: url('@{img-path}taiwanpay.svg'); }

.money { display: inline-flex; flex-flow: nowrap; align-items: center; justify-content: center; vertical-align: middle;
    color: var(--color-darker); font-weight: bold;

    .icon-dollar { width: 20px; height: 20px; padding: 2px; margin-right: 3px;
    background: url('@{img-path}icon/topup.svg') no-repeat center; background-size: contain; }
}

.checkbox, .radio { width: 100%; max-width: 360px; margin: 0 auto 10px auto;
    > input[type=checkbox], > input[type=radio] { display: none; }

    label { display: inline-flex; flex-flow: nowrap; align-items: center;
        .icon { display: inline-flex; flex-flow: nowrap; justify-content: center; align-items: center;
            width: 20px; height: 20px; margin-right: 5px; text-align: center; background: var(--color-white); border: 2px solid var(--color-orange); .rounded-corners(3px); 
            > i { display: none; }
        }
    }
}
.checkbox > input[type=checkbox]:checked + label, .radio > input[type=radio]:checked + label {
    .icon { color: var(--color-white); background: var(--color-orange); 
        > i { display: block; }
    }
}
.radio label .icon { .rounded-corners(99em); }

/* 按鈕button */
.orange-btn { color: var(--color-white) !important; background: var(--color-orange)!important; }
.red-btn { color: var(--color-white) !important; background: var(--color-red) !important; }
.yellow-btn { color: var(--color-orange) !important; background: var(--color-yellow) !important; }

/* 歡迎頁 */
.welcome-page { position: relative; height: 100vh; background: url('@{img-path}welcome-bg.png') repeat center; background-size: 100%; 
    
    .circle-bg { position: absolute; width: 200%; height: 200%; left: -65%; top: 50%; background: linear-gradient(143.09deg, rgba(246, 187, 66, 0.5) 5.34%, var(--color-bgorange) 50%), var(--color-white); .rounded-corners(99em); z-index: 0; }

    .main { position: relative; display: flex; flex-flow: wrap; align-content: space-between; align-items: stretch; z-index: 1; }
    .main > div { width: 100%; height: 50vh; }
    .main .logo { display: flex; flex-flow: wrap; justify-content: center; align-items: center; }
    .main .info { padding: 15% 10%; display: inline-flex; flex-flow: wrap; align-items: center;
        h2 { width: 100%; color: var(--color-darker); font-size: 36px; font-weight: 500; }
        h3 { width: 100%; margin: 5% 0; color: var(--color-darker); font-size: 18px; font-weight: 400; }
        .btn { display: inline-flex; flex-flow: nowrap; white-space: nowrap; align-items: center; justify-content: space-between;
            width: 100%; padding: 5px 15px; color: var(--color-white); font-size: 24px; border: 3px solid var(--color-white); .rounded-corners(99em); 
            b { font-weight: 500; }
            i { display: inline-block; width: 24.5px; height: 21px; }
        }
    }
}

/* 登入頁 */
.login-page { position: relative; min-height: 100vh; background: var(--color-white);
    .circle-bg { position: absolute; width: 200%; height: 200%; left: -50%; bottom: 78%; background: url('@{img-path}welcome-bg.png') repeat center; background-size: 50%; .rounded-corners(99em); z-index: 0; }

    .content { position: relative; z-index: 1; 
        display: flex; flex-flow: wrap; align-content: space-between; 

        .top { width: 100%; height: 10vh; padding: 0 10%;
            display: inline-flex; flex-flow: nowrap; justify-content: space-between; align-items: center; 
            h1 { margin: 0; color: var(--color-darker); font-size: 24px; }
            .logo { text-align: right;
                > img { width: 70%; }
            }
        }
        .bottom { width: 100%; padding: 20% 10% 10% 10%; }

        .form-column { position: relative;
            display: flex; flex-flow: nowrap; align-items: center; white-space: nowrap; position: relative; width: 100%; max-width: 360px; margin: 0 auto 40px auto;
            border-bottom: 1px solid var(--color-light);

            .form-title { position: absolute; top: -18px; left: 0; color: var(--color-dark); }

            input:not([type="radio"],[type="checkbox"]) { 
                width: 100%; padding: 5px 0; font-size: 16px; border: none;
            }
            
            .send { padding: 10px 0; color: var(--color-orange); }
            .send.wait { color: var(--color-light); }

            .delete { position: absolute; width: 20px; height: 20px; right: 0; top: 0; bottom: 0; margin: auto 0; background: url('@{img-path}delete.svg') no-repeat center; background-size: contain; }
        }

        .form-title.required::before { position: absolute; display: block; content: '*'; color: var(--color-red); left: -10px; top: 0; }

        .form-column.verify .delete { right: 60%; }
        .form-column.error { border-color: var(--color-red); }

        .error-tips { display: none; width: 100%; max-width: 360px; margin: -35px auto 40px auto; color: var(--color-red); font-size: 12px; }
        .form-column.error + .error-tips { display: block; }

        .forget-pw { font-size: 12px; text-align: center;
            a { color: var(--color-regular); }
        }

        .btn { display: block; width: 160px; margin: 7vh auto 10px auto; padding: 10px 30px; color: var(--color-white); font-weight: 700; background: var(--color-orange); .rounded-corners(99px); }

        .register { text-align: center;
            a { color: var(--color-orange); font-weight: 700; }
        }

        .or { position: relative; width: 160px; margin: 7vh auto; color: var(--color-light); font-size: 12px; text-align: center; }
        .or::before, .or::after { position: absolute; content: ''; display: block; width: 50px; height: 1px; top: -1px; bottom: 0; margin: auto 0; border-bottom: 1px solid var(--color-light); }
        .or::before { right: 10px; }
        .or::after { left: 10px; }

        .other-login { display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center; max-width: 360px; margin: 0 auto; }
        .other-login > a { width: 40px; height: 40px; background-size: contain; background-position: center; background-repeat: no-repeat; }
        .other-login > a.finger { background-image: url('@{img-path}finger.svg'); }
        .other-login > a.line { background-image: url('@{img-path}line.svg'); }
        .other-login > a.fb { background-image: url('@{img-path}fb.svg'); }
        .other-login > a.google { background-image: url('@{img-path}google.svg'); }
        .other-login > a.apple { background-image: url('@{img-path}apple.svg'); }

        .agree { margin-top: 10%; color: var(--color-light); font-size: 12px; text-align: center; 
            a { color: var(--color-blue); }
        }
    }
}

@media (min-width: 820px) {
    .login-page {
        .circle-bg { bottom: 75%; }
        .content .bottom { padding-top: 15%; }
    }
}

.popup-theme { display: none;
    .popup-container { 
        display: flex; justify-content: center; align-items: center;
        position: fixed; width: 100%; max-width: 600px; height: 90vh; left: 0; top: 0; right: 0; bottom: 0; padding: 15px; margin: 0 auto; z-index: 6;

        .overlay-bg, .overlay-bg-x { 
            position: fixed; width: 100%; height: 100%; left: 0; top: 0; right: 0; bottom: 0;
            background: rgba(0,0,0,0.5); z-index: 7;
        }

        .popup-close-x { 
            display: block; position: sticky; float: right; width: 40px; height: 40px; padding: 5px; right: -5px; top: -5px; margin: -5px -5px 0 0; text-align: center; background: var(--color-white); .rounded-corners(99em); z-index: 1;

            .icon-close { display: inline-block; width: 30px; height: 30px; color: var(--color-light); font-size: 30px;
            }
        }

        .popup-content { position: relative; width: 100%; max-height: 100%; margin: 0 auto; padding: 20px;
            background: var(--color-white); .rounded-corners(25px); z-index: 6; overflow: auto; z-index: 8;

            h2 { margin-bottom: 20px; color: var(--color-orange); font-size: 18px; }
            h3 { margin-bottom: 10px; font-size: 18px; font-weight: normal; }
            h4 { margin-bottom: 7px; font-size: 16px; font-weight: normal; }
            p { margin: 15px 0; }
            .gray-text { color: var(--color-dark); }
            ol { list-style-type: decimal; margin-left: 20px; color: var(--color-dark); 
                li { margin: 15px 0; }
            }
            ul { list-style-type: disc; margin-left: 20px; color: var(--color-dark); 
                li { margin: 15px 0; }
            }
            a { color: var(--color-blue); }
            .big-icon > i, .big-icon > svg { 
                display: block; width: 80px; height: 80px; margin: 20px auto; 
                color: var(--color-red); font-size: 52px; text-align: center; line-height: 64px; border: 7px solid var(--color-red); .rounded-corners(99em); box-shadow: 0px 5px 10px rgba(55, 84, 170, 0.2); }
            .big-icon.green > i, .big-icon.green > svg { color: var(--color-green); border-color: var(--color-green);
            }
            .big-icon.blue > i, .big-icon.blue > svg { color: var(--color-blue); border-color: var(--color-blue);
            }
            .big-icon.orange > i, .big-icon.orange > svg { color: var(--color-orange); border-color: var(--color-orange);
            }
            .big-icon.orange > .fa-arrows-rotate { font-size: 40px; }

            .qrcode { display: inline-flex; width: 100%; height: auto; align-items: center; justify-content: center;
                > img { max-width: 240px; height: auto; margin: 20px auto; }
            }

            .btns { display: flex; flex-flow: nowrap; align-items: center; justify-content: center; margin-top: 20px;
                > a, > button, > input[type="submit"], > input[type="reset"] {
                    display: block; width: calc(100% - 20px); height: 45px; margin: 0 5px; padding: 0 15px;
                    color: var(--color-darker); font-size: 18px; text-align: center; line-height: 45px; white-space: nowrap;
                    .rounded-corners (30px); background: var(--color-bggray); 
                }
                .full-btn { width: 100%; margin: 0; }
            }
        
            .form-column { display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center; 
                width: 100%; padding: 5px 20px; margin-bottom: 10px; background: var(--color-bggray); .rounded-corners(99em);
                .left { display: inline-flex; flex-flow: nowrap; align-items: center; 
                    width: 100px; color: var(--color-dark);
                    > i { margin-right: 8px; color: var(--color-green); font-size: 16px; }
                    > b { font-weight: normal; }
                }
                .right { width: calc(100% - 100px); }
                input { width: 100%; height: 32px; 
                    .font-family(14px); line-height: 32px; background: none; }

                select { width: 100%; height: 32px; padding-right: 24px; 
                    .font-family(14px); line-height: 32px; background: var(--color-bggray) url('@{img-path}select-arrow.svg') no-repeat; background-position: 100% center; background-size: 10px; }
            }
            .form-column.copy-link { margin-top: 10px; flex-flow: row-reverse;
                .left { justify-content: flex-end; text-align: right; 
                    .fa-copy { color: var(--color-orange); font-size: 20px; }
                    .icon-line { display: inline-block; width: 22px; height: 22px; margin-left: 20px; background: url('@{img-path}line-2.svg') no-repeat center; background-size: contain; }
                }
                .right {
                    > input { text-align: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
                }
            }
        }
    }
}

/* 主要入口頁 */
.top-bar { position: fixed; display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center; width: 100%; max-width: 820px; margin: 0 auto; padding: 15px 20px; margin: 0 auto; top: 0; left: 0; right: 0; background: var(--color-white);
    z-index: 2;

    > * { width: 100%; }
    > h1 { display: inline-flex; align-items: center; color: var(--color-white); font-size: 24px; 
        i { margin-right: 5px; }
    }
    > h2 { color: var(--color-white); font-size: 18px; font-weight: normal; text-align: center; line-height: 18px; 
        .store-name { font-size: 14px; }
    }
    .nav { display: inline-flex; justify-content: flex-end; align-items: center;
        a { display: block; position: relative; margin-left: 15px;
            color: var(--color-blue); font-size: 14px; line-height: 14px;
        }
        .headpic { width: 30px; height: 30px; .rounded-corners (99em); overflow: hidden; 
            > img { width: 100%; height: auto; }
        }

        i { color: var(--color-blue); font-size: 30px; }
        .fa-sliders { font-size: 26px; }
        .fa-bell { color: var(--color-orange); font-size: 26px; } 
        i.icon-menu { display: block; width: 30px; height: 30px; background: url('@{img-path}menu.svg') no-repeat center; }
        b.num { position: absolute; right: -8px; top: -7px; padding: 3px 3px 2px 3px;
            color: var(--color-white); font-size: 11px; text-align: center; letter-spacing: 0;
            background: var(--color-red); .rounded-corners (99em);
        }
    }
    .nav.left { justify-content: flex-start; }

    .circle-bg-fixed { position: absolute; width: 1000px; height: 1000px; left: 50%; bottom: -15px; margin: 0 0 0 -500px; border-radius: 99em; background: var(--color-orange); pointer-events: none; z-index: -1; }
}
.top-bar.bg-gray { background: var(--color-bggray); }
.top-bar.bg-orange, .top-bar.circle { color: var(--color-white); background: var(--color-orange); 
    .nav {
        a { color: var(--color-white); }
        i { color: var(--color-white); }
        i.icon-menu { background: url('@{img-path}menu-w.svg') no-repeat center; }
    }
}
.top-bar.circle { max-width: 450px; background: none; }

.main-container { margin-top: 60px; padding: 10px 20px 40px 20px; }

.bottom-nav { 
    position: fixed; width: 100%; max-width: 820px; height: 90px; margin: 0 auto; 
    left: 0; right: 0; bottom: 0; padding: 20px;
    display: flex; flex-flow: nowrap; justify-content: space-between; align-items: flex-end;
    background: var(--color-white); box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.1); border-radius: 30px 30px 0 0; z-index: 2;

    > a { width: 100%; text-align: center; color: var(--color-dark); font-size: 14px; 
        i { display: inline-block; width: 30px; height: 30px; font-size: 26px; line-height: 30px; }
        i.icon-store { background: url('@{img-path}store.svg') no-repeat center; background-size: contain; }
        i.icon-admin { background: url('@{img-path}admin.svg') no-repeat center; background-size: contain; }
    }

    > a.current { color: var(--color-orange); 
        i.icon-store { background-image: url('@{img-path}store-o.svg'); }
        i.icon-admin { background-image: url('@{img-path}admin-o.svg'); }
    }
}

.bottom-button { 
    position: fixed; width: 100%; max-width: 820px; height: 90px; margin: 0 auto; 
    left: 0; right: 0; bottom: 0; padding: 20px;
    display: flex; flex-flow: nowrap; justify-content: space-between; align-items: flex-end;
    background: rgba(255, 255, 255, 0.65); z-index: 2;

    > a, > button, > input[type="submit"], > input[type="reset"] {
        display: block; width: calc(100% - 20px); margin: 0 5px; padding: 10px 15px;
        color: var(--color-white); font-size: 18px; text-align: center;
        .rounded-corners (30px); background: var(--color-light); 
    }
}

.invite { min-height: 100vh; padding: 5vh 20px; 
    color: var(--color-white); text-align: center; 
    background: linear-gradient(135deg, rgba(255, 153, 0, 0.5) 0%, var(--color-orange) 100%), var(--color-white); 
    display: flex; flex-flow: wrap; align-content: space-around; align-items: center; 
    
    > div { display: inline-flex; flex-flow: wrap;
        align-content: center; align-items: center; justify-content: center; 
        width: 100%; height: 30vh; 
            > * { width: 100%; }
    }
    .logo { max-width: 200px; margin: 0 auto; filter: drop-shadow(0px 3px 3px rgb(0 0 0 / 0.2)); }
    .info { line-height: 180%;
        h3 { margin-bottom: 12px; color: var(--color-white); font-size: 18px; font-weight: normal; }
        h1 { color: var(--color-white); font-size: 24px; font-weight: normal; }
        h2 { color: var(--color-white); font-size: 24px; font-weight: normal; 
            position: relative; padding-top: 20px; margin-top: 20px; }
        h2::before { position: absolute; display: block; content: ''; width: 20px; left: 0; right: 0; top: 0; margin: 0 auto; border-top: 2px solid var(--color-white); }
    }
    .bottom {
        .btn { display: inline-block; max-width: 140px; margin: 0 auto 10px auto; padding: 10px 20px;
            color:  var(--color-regular); font-size: 18px;
            background: var(--color-white); box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.05); .rounded-corners (99em) }
        > p { font-size: 12px; color: var(--color-bggray); }
    }
}

.main-door {
    .card-item { position: relative; display: block; width: 100%; max-width: 360px; height: 160px; margin: 0 auto; 
        color: var(--color-blue); text-decoration: none;
        background: url('@{img-path}welcome-bg.png') repeat center; background-size: 80%; .rounded-corners(15px); box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1); overflow: hidden;
    
        .circle-bg { position: absolute; width: 500px; height: 500px; left: 20%; top: 50%; background: linear-gradient(143.09deg, rgba(246, 187, 66, 0.5) 5.34%, var(--color-bgorange) 50%), var(--color-white); .rounded-corners(99em); z-index: 0; }
        
        .money-row { display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center; 
            padding: 5%; font-size: 18px;

            div:first-child { display: flex; flex-flow: nowrap; align-items: center;
                i { display: block; width: 30px; height: 30px; margin-right: 5px;
                    color: var(--color-white) !important; font-size: 20px; text-align: center; line-height: 30px;
                    background: var(--color-green); .rounded-corners(99em); overflow: hidden; }

                b { font-size: 24px; }
            }
            div:last-child { color: var(--color-regular); font-size: 18px; }
        }

        .add-btn { position: absolute; right: 5%; bottom: 7%; color: var(--color-white); font-size: 30px; line-height: 100%; background: rgba(246,187,66,1); .rounded-corners(99em); box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1); }
    }

    .item-list { display: flex; flex-flow: wrap; width: 100%; max-width: 360px; margin: 30px auto 0 auto;
        > h2 { width: 100%; margin-bottom: 10px; color: var(--color-darker); font-size: 18px; font-weight: bold; }
        > a { width: 33.3%; padding: 10px; color: var(--color-darker); font-size: 16px; text-align: center; }
    }
}

.quickpay-counter { padding-bottom: 90px;
    .store-list { margin-bottom: 30px;
        > h2 { margin-bottom: 15px; font-size: 18px; font-weight: bold; }

        .counter { display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center;
            margin-bottom: 15px; padding: 12px; background: var(--color-white); .rounded-corners(20px); 
        
            > h3 { font-size: 18px; font-weight: normal; }
            .system-btn { display: flex; flex-flow: nowrap; white-space: nowrap;
                > a { margin-left: 15px; padding: 10px; 
                    color: var(--color-dark); font-size: 12px; text-align: center; 
                    border: 1px solid var(--color-border); .rounded-corners(10px); 

                    i { margin-bottom: 5px; font-size: 20px; color: var(--color-green); }
                }
            }
        }
    }
}

/* 篩選BAR */
.filter-bar { position: relative; display: flex; flex-flow: nowrap; justify-content: space-between; margin-bottom: 10px; z-index: 1;
    > * { width: calc(100% - 5px); padding: 10px 15px; 
        .rounded-corners (30px); background: var(--color-bggray) url('@{img-path}filter-arrow.svg') no-repeat; background-position: calc(100% - 15px) center; background-size: 10px; }
    .store-counter { margin-right: 5px; padding-right: 30px; white-space: nowrap; }
    .time-select { margin-left: 5px; padding-right: 30px; white-space: nowrap; background-image: url('@{img-path}calendar.svg') !important; background-size: 14px; }
    .time-select.full { margin-left: 0; }
}
.filter-bar.invoice { width: 100%; flex-flow: wrap;
    > * { margin: 5px auto 30px auto; padding: 5px 0; 
        background-color: var(--color-white); background-image: url('@{img-path}filter-arrow-o.svg'); 
        border-bottom: 1px solid var(--color-light); border-radius: 0;
    }
    .store-counter { width: 49%; margin-right: 0; }
    .full { width: 100%; }
}
.filter-bar.record { width: 100%; flex-flow: wrap;
    > * { margin-top: 10px;
        background-image: url('@{img-path}filter-arrow-o.svg');
    }
    .store-counter { width: 49%; margin-right: 0; }
    .full { width: 100%; }
}

/* 交易紀錄 */
.quickpay-record { padding-bottom: 90px;
    .record-list { display: flex; flex-flow: nowrap; align-items: center; justify-content: space-between; 
        padding: 10px 0 10px 5px;
        border-bottom: 1px solid var(--color-light);

        .mid { width: 60%; line-height: 140%;
            .name { margin-bottom: 5px; color: var(--color-regular); font-size: 18px; }
            .counter, time { color: var(--color-dark); font-size: 14px; }
        }

        .right { width: calc(40% - 65px); text-align: right; line-height: 140%; 
            .money { margin: 5px 0; color: var(--color-green); font-size: 18px; font-weight: bold; white-space: nowrap; }

            .point { display: flex; flex-flow: nowrap; align-items: center; justify-content: flex-end; line-height: 140%; 
                i.icon-point { margin-left: 5px; }
            }

            .coupon { display: flex; flex-flow: nowrap; align-items: center; justify-content: flex-end; line-height: 140%; 
                i.icon-coupon { margin-left: 5px; }
            }
        }

        > i { margin-right: 15px; }
        .fa-angle-right { width: 10px; height: auto; margin-right: 0; margin-left: 10px; color: var(--color-dark); background: none; }
    }
    .record-list:last-child { border-bottom: none; }
}

.time-nav { display: flex; flex-flow: nowrap; align-items: center; justify-content: space-between;
    padding: 5px; background: var(--color-bggray); .rounded-corners(30px);

    > a { width: 25%; padding: 5px; color: var(--color-dark) !important; font-size: 14px; text-align: center; white-space: nowrap; }
    .current { color: var(--color-white) !important; background: var(--color-green); .rounded-corners(30px); }
}
.time-pane { display: none; margin: 15px auto 30px auto; padding: 15px 10%;
    text-align: center;
    background: var(--color-bggray); .rounded-corners(30px); 

    .flex-inner { display: flex; flex-flow: nowrap; align-items: center; justify-content: space-around;  
        > * { width: 100%; text-align: center; }
        .datepicker { width: 100%;
            .font-family(14px); text-align: center; text-decoration: underline;
            background: none; 
        }
        > span { height: 10px; line-height: 8px; }
    }
}
.time-pane.current { display: block; }

/* 交易明細 */
.list-group { padding: 15px 0 15px 5px;
    border-top: 1px solid var(--color-light);

    .money { justify-content: center; color: var(--color-green); font-size: 24px; font-weight: bold; text-align: center; }

    > div { display: flex; flex-flow: nowrap; justify-content: space-between; align-items: flex-start; padding: 5px 0; }
    .column-l { width: 30%; display: flex; flex-flow: nowrap; align-items: center; 
        color: var(--color-dark);  white-space: nowrap; 
        
        .icon-point, .icon-coupon { width: 25px; height: 25px; margin-right: 5px; }
    }
    .column-r { width: 70%; text-align: right; }
}
.list-group.first { border-top: none; }

/* 權限管理 */
.search-bar { display: flex; flex-flow: nowrap; justify-content: space-between; padding: 0 10px; margin-bottom: 10px;
    background: var(--color-bggray); .rounded-corners(99em); overflow: hidden;
    > input[type="text"] {  width: calc(100% - 30px); padding: 10px; background: none; }
    > button { width: 30px; color: var(--color-green); font-size: 14px; background: none; }
}

.admin-title { display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center;
    padding: 10px 5px; color: var(--color-dark);
    > div { width: 45%; }
    .name { width: 25%; }
    .sysbtn { width: 30%; text-align: right; 
        > a { color: var(--color-blue); text-decoration: underline; }
    }
}

.admin-list { display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center; 
    padding: 12px 5px; border-top: 1px solid var(--color-light);
    > div { width: 45%; }
    .name { width: 25%; }
    .sysbtn { width: 30%; text-align: right; 
        > a { display: inline-flex; flex-flow: nowrap; justify-content: center; align-items: center; width: 30px; height: 30px; margin-left: 8px; font-size: 14px; background: var(--color-bggray); .rounded-corners(99em); }
        .edit { color: var(--color-orange); }
        .delete { color: var(--color-red); }
    }
}

.main-container.admin { position: relative; min-height: calc(100vh - 160px); padding-bottom: 160px;
    .btn-add { position: absolute; left: 0; right: 0; bottom: 110px; width: 180px; margin: 0 auto; padding: 10px 15px;
        display: inline-flex; flex-flow: nowrap; align-items: center; justify-content: center;
        color: var(--color-white); text-align: center; background: var(--color-orange); .rounded-corners(99em); box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.05); 
        > i { margin-right: 8px; }
    }
}

.type-group { margin-bottom: 30px;
    > h4 { margin-bottom: 5px !important; font-weight: bold; }
    > span { display: inline-flex; flex-flow: nowrap; align-items: center; margin-right: 15px;
        > i { color: var(--color-green); font-size: 16px; margin-right: 5px; }
    }
}

/* 通知中心 */
.notice-list { position: relative; padding: 15px 10px 15px 20px; border-bottom: 1px solid var(--color-light);
    > h3 { color: var(--color-darker); font-size: 18px; font-weight: normal; }
    > time { color: var(--color-dark); font-size: 12px; }
}
.notice-list:last-child { border-bottom: none; }
.notice-list.unread::before { 
    position: absolute; display: block; content: ''; 
    width: 8px; height: 8px; top: 0; bottom: 0; left: 0; margin: auto 0; 
    background: var(--color-red); .rounded-corners(99em); 
}

/* 儲值頁 */
.topup { /*background: url('@{img-path}circle-bg.png') top center no-repeat; background-size: contain;*/
    .circle-bg { position: absolute; width: 1000px; height: 1000px; left: 50%; top: -800px; margin: 0 0 0 -500px; border-radius: 99em; background: var(--color-orange); pointer-events: none; z-index: 0; }

    .banner { position: relative; width: 100%; max-width: 600px; margin: 0 auto; z-index: 1;
        > img { width: 100%; height: auto; .rounded-corners(20px); }
    }

    .account-none { margin: 50px auto; text-align: center;
        > h2 { font-size: 21.5px; font-weight: normal; color: var(--color-regular); }
        > p { color: var(--color-dark); font-size: 14px; }
        a { font-size: 14px; }
    }

    .form-title { font-weight: bold; color: var(--color-darker) !important; }

    .store-list { position: relative; width: 100%; max-width: 600px; margin: 20px auto 0 auto; padding: 10px 12px 40px 12px; text-align: center; background: var(--color-white);
        border-radius: 20px 50px; box-shadow: 0px 5px 10px rgba(55, 84, 170, 0.2);
    
        .status { font-size: 14px; color: var(--color-dark); text-align: left;
            .fa-circle { color: var(--color-light); font-size: 11px; }
        }
        .status.auto { color: var(--color-darker);
            .fa-circle { color: var(--color-green); }
        }
    
        .name { margin: 15px auto; font-size: 18px; }
        .remind { margin-bottom: 10px; }
        .money { display: flex; flex-flow: nowrap; justify-content: center; align-items: center; margin-bottom: 15px; font-size: 36px; font-weight: normal;
            .icon-dollar { width: 30px; height: 30px; }
        }
    
        .link {
            > a { display: inline-block; padding: 0 12px 2px 8px; color: var(--color-blue); border-right: 1px solid var(--color-light); }
            > a:last-child { border-right: 0; }
        }
    
        .add-btn { position: absolute; right: 10px; bottom: 10px; color: var(--color-orange); font-size: 30px; line-height: 100%; background: var(--color-white); .rounded-corners(99em); box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1); }
    }
    .store-list.disabled { opacity: 0.5;
        .link > a { color: var(--color-dark); cursor: text; }
    
        .add-btn { color: var(--color-light); cursor: text; }
    }

    .record-list { display: flex; flex-flow: nowrap; align-items: center; justify-content: space-between; 
        padding: 15px 0 15px 5px; color: var(--color-darker);
        border-bottom: 1px solid var(--color-light);
        .left { width: 70%; }
        .right { width: 30%; display: flex; flex-flow: nowrap; justify-content: flex-end; align-items: center; text-align: right; 
            > *:last-child { margin-left: 10px; color: var(--color-light); }
            .notice { font-size: 18px; color: var(--color-red); }
        }
        .name, .status { font-size: 18px; }
        .note { font-size: 12px; }
        .store-name { color: var(--color-darker); font-size: 12px; }
        time { color: var(--color-dark); font-size: 12px; }
        .money { font-size: 20px; 
            > .icon-dollar { width: 24px; height: 24px; }
        }
    }
    .record-list:last-child { border-bottom: none; }
    
    .object-list { position: relative; width: 100%; max-width: 600px; margin: 0 auto; z-index: 1;
        > div { margin-top: 15px;
           input[type=radio], input[type=checkbox] { display: none; }
           label { display: block; padding: 18px 15px;
            background: var(--color-yellow); border-radius: 20px 40px; border: 2px solid var(--color-yellow);
                .money { font-size: 24px; 
                    .icon-dollar { width: 30px; height: 30px; }
                }
                .desc { margin-bottom: 5px; color: var(--color-dark); font-size: 12px; text-align: right; }
                .discount { font-size: 18px; text-align: right; 
                    > del { margin-right: 5px; color: var(--color-red); font-size: 14px; }
                }
           }
           label.nochecked { background: var(--color-bggray); border: 2px solid var(--color-bggray); }
    
           input[type=radio]:checked + label, input[type=checkbox]:checked + label { border: 2px solid var(--color-orange); }
       }
    }
    
    .doughnut { position: relative; width: 100%; max-width: 600px; margin: 20px auto 10px auto; z-index: 1; 
        .store-all { position: absolute; width: 200px; height: 50px; top: 0; left: 0; bottom: 0; right: 0; margin: auto; padding-top: 10px; text-align: center;
            .store-name { margin-bottom: 5px; }
            .money { font-size: 24px; 
                .icon-dollar { width: 30px; height: 30px; }
            }
        }
    }
    
    .store-list-set { position: relative; width: 100%; max-width: 600px; margin: 20px auto 30px auto; color: var(--color-darker);  z-index: 1;
        .group { margin: 20px auto; 
            > div:first-child { margin-bottom: 10px; }
        }
        .gray-text { font-size: 12px; }
        .money { width: 100%; padding: 5px 0; margin-top: 5px; font-size: 18px; font-weight: normal; border-bottom: 1px solid var(--color-light); 
            > input { width: 100%; font-size: 18px; }
        }
        .line-push { display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center; 
            padding: 10px 15px; margin: 10px auto;
            color: var(--color-darker); border: 1px solid var(--color-light); .rounded-corners(99em); 
            > span { width: 100%; text-align: left; }
            > i { color: var(--color-light); }
            .icon-line { display: inline-block; width: 22px; height: 22px; margin-right: 5px; background: url('@{img-path}line-2.svg') no-repeat center; background-size: contain; }
            > a { color: var(--color-dark); white-space: nowrap; text-decoration: underline; }
        }
        .line-push.unbind { background: var(--color-bggray); border-color: var(--color-bggray); }

        .form-column { display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center; margin-bottom: 20px; border-bottom: 1px solid var(--color-light); 
            > input { width: 100%; }
            .remove { padding: 5px; color: var(--color-light); font-size: 18px; }
            .add { padding: 5px; color: var(--color-orange); font-size: 18px; }
        }
    }

    .payway-list { position: relative; width: 100%; max-width: 600px; margin: 0 auto; z-index: 1;
        > div { margin-top: 15px;
           input[type=radio], input[type=checkbox] { display: none; }
           label { display: block; padding: 18px 15px;
            background: var(--color-bggray); border-radius: 20px 40px; border: 2px solid var(--color-bggray);
                .name { font-size: 24px; 
                    > i.icon-circle { display: inline-block; width: 22px; height: 22px; margin-bottom: -2px; border: 2px solid var(--color-light); .rounded-corners(99em); }
                }
                .note { margin-top: 10px; font-size: 12px; color: var(--color-dark); text-align: right; }
                .payway-online { text-align: right;
                    > div { display: flex; flex-flow: nowrap; justify-content: flex-end; align-items: center; 
                        > i { height: 24px; }
                        > i.icon-creditcard {width: 28px; background-size: 60%; }
                    }
                }
            }
    
            input[type=radio]:checked + label, input[type=checkbox]:checked + label { background-color: var(--color-yellow); border: 2px solid var(--color-orange); 
                .name > i.icon-circle { 
                    border-width: 9px; border-color: var(--color-orange); }
            }
       }
    }
}
.topup.bg-none { background: none; }
.topup.topup-plan { padding-bottom: 90px; }
.topup.topup-plan.login-page { min-height: auto; 
    .content { width: 100%; max-width: 360px; margin: 0 auto; padding-top: 20px; }
}

.nav-tab { position: relative; display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center;
    width: 100%; margin: 10px auto; border-bottom: 1px solid var(--color-light); z-index: 1;

    > a { display: inline-flex; align-items: center; height: 44px; padding: 5px 5px 6px 5px; margin-bottom: -1px; color: var(--color-dark); font-size: 14px; text-align: center; line-height: 120%;
        .fa-circle-question { color: var(--color-blue); font-size: 16px; }
    }
    > a.topup-info { width: auto; }
    > a.current { padding-bottom: 3px; color: var(--color-orange); border-bottom: 3px solid var(--color-orange); }
}